@import url('https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playwrite+BE+VLG:wght@100..400&family=Playwrite+CU:wght@100..400&family=Playwrite+PE:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    text-align: center;
}
.heading {
    color: aqua;
    font-family: "Kalnia Glaze", serif;
    font-size: 50px;
    font-style:italic;
    text-decoration: underline;
}  
.para{
    font-family: "Playwrite BE VLG", cursive;
    font-size: 30px;
    font-style:oblique;
    text-decoration: solid;
    letter-spacing: 20px;
    word-spacing: 20px
}